* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

header {
  min-width: 100px;
  background-color: yellow;
}

.container {
  width: 1140px;
  margin: 0 auto;
  border: 1px dashed black;
}

.header-inner {
  padding: 50px 0;
  display: flex;
  align-items: center;
}

.logo {
  width: 150px;
  height: 100px;
  background-color: blue;
}

nav {
  width: 500px;
  height: 100px;
  background-color: green;
}
