@import '../vars';

.header {
  background-color: $secondary-color;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__nav {
    order: -1;
  }

  &__logo {
  }

  &__submenu {
    display: none;
  }
}

