@import '../vars';

.slider {
  background-color: $secondary-color;

  &__inner {
    padding-top: 170px;
  }

  &__item-inner {
    position: relative;
    display: flex;
  }

  &__text {
    width: 50%;
  }

  &__img {
    width: 50%;
  }

  &__price {
    position: absolute;
    max-width: 255px;
    right: 0;
  }

  &__old-price,
  &__new-price {
    display: block;
  }

  .slick-dots {
    list-style: none;
    display: flex;
    justify-content: center;
  }

  .slick-dots button {
    font-size: 0;
    border: none;
    width: 40px;
    height: 7px;
    margin-right: 15px;
    background-color: $accent-color;
    cursor: pointer;
  }

  .slick-active button {
    background-color: #cecece;
  }
}
